services:
  backend:
    build:
      context: .
    container_name: backend
    ports:
      - "3000:3000"
    env_file: .env
    volumes:
     
      - ./data:/app/data
      - ./uploads:/app/uploads
    
    entrypoint: |
      /bin/sh -c '
       
        chown -R node:node /app/data
        chown -R node:node /app/uploads
        
       
        if [ ! -f /app/data/database.sqlite ]; then 
          echo "Banco não encontrado, executando seed..."  
          node seed.js
        else 
          echo "Banco já existe, pulando seed."
        fi

        exec npm run start
      '